{% extends "base.html" %}

{% block content %}
	<div class='row'>
		<div class='col-6'>
			<h2>Слова для повторения</h2>
			{% for word in wrong_words %}
			<p><a href="/words/learning?w_id={{ word.id }}">
				{{ word.word_ru }}</a></p>
			<p>{{ word.word_cz }}</p>
			<hr />
			{% endfor%}
		</div>
		<div class='col-6'>
			<h2>Новые слова для изучения</h2>
			{% for word in new_words %}
			<p><a href="/words/learning?w_id={{ word.id }}">
				{{ word.word_ru }}</a></p>
			<p>{{ word.word_cz }}</p>
			<hr />
			{% endfor%}
		</div>
	</div>
{% endblock %}