{% extends "base.html" %}

{% block content %}
	<div class='row justify-content-center'>
		<div class='col-8'>
			<div class="row justify-content-center mt-2">
				<div class="col-8">
					<div class="card">
						<img class="card-img-top picture" src="{{image_url}}" alt="{{ current_word.word_ru }}">
						<div class="card-body">
							<h3 class="card-title text-center">{{ current_word.word_ru }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8 mt-3">
			<form class="form-inline justify-content-center" action="{{ url_for('learning.process_answer') }} " method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<div class="form-group mb-3 my-1">
					{{ form.answer.label }}
					{{ form.answer() }}
				</div>
				{{ form.word_id }}
				{{ form.submit }}
			</form>
		</div>
	</div>
{% endblock %}

{% block right_top_corner %}
	<a class="btn btn-outline-danger" href="/learning/" role="button">
		Закончить обучение
	</a>
{% endblock %}
