{% extends "base.html" %}

{% block content %}
	<div class='row'>
		<div class='col-4'>
			<h2>Слова для повторения</h2>
			{% for word in wrong_words %}
			<p><a href="/learning/test_cz?w_id={{ word.id }}">
				{{ word.word_ru }}</a></p>
			<p><a href="/learning/test_ru?w_id={{ word.id }}">
				{{ word.word_cz }}</a></p>
			<hr />
			{% endfor%}
		</div>
		<div class='col-4'>
			<h2>Изучение правописания слов</h2>
			{% for word in words_for_inputting %}
			<p><a href="/learning/inputting?w_id={{ word.id }}">
				{{ word.word_ru }}</a></p>
			<hr />
			{% endfor%}
		</div>
		<div class='col-4'>
			<h2>Новые слова для изучения</h2>
			{% for word in new_words %}
			<p><a href="/learning/test_cz?w_id={{ word.id }}">
				{{ word.word_ru }}</a></p>
			<p><a href="/learning/test_ru?w_id={{ word.id }}">
				{{ word.word_cz }}</a></p>
			<hr />
			{% endfor%}
		</div>
	</div>
{% endblock %}