{% extends "base.html" %}

{% block content %}
	<div class='row mt-5'>
		<div class='col-6'>
			<h2>Новый урок</h2>
			<a class="btn btn-primary btn-block" href="/lesson/start_new_words" role="button">
				Начать
			</a>
		</div>	
		<div class='col-6'>
			<h2>Повторение пройденных слов</h2>
			<a class="btn btn-success btn-block" href="/lesson/start_repeating" role="button">
				Повторить
			</a>
		</div>
	</div>
	<h2 class='mt-5'> Повторение слов по режимам</h2>	
	<div class='row mt-5'>
			<div class='col-4'>
				<h3>Перевод на чешский</h3>
				<a class="btn btn-info btn-block" href="/learning/test_cz" role="button">
					Повторить
				</a>
			</div>	
			<div class='col-4'>
				<h3>Перевод на русский</h3>
				<a class="btn btn-info btn-block" href="/learning/test_ru" role="button">
					Повторить
				</a>
			</div>	
			<div class='col-4'>
				<h3>Правописание слова</h3>
				<a class="btn btn-info btn-block" href="/learning/inputting" role="button">
					Повторить
				</a>
			</div>
	</div>
{% endblock %}